*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color:rgb(61, 133, 109);
    color:white;
}

h1{
    width: fit-content ;
    margin:75px auto;
}

h2{
    width: fit-content;
    margin: -30px auto;
}